

// Color system

$red:     #c20430;   // U of G red
$yellow:  #ffc72a;   //   ""   yellow
$blue:    #69a3b9;   //   ""   blue

$primary: $red;
$info:    #006eb7;

// -------------------------------
// Layout
// -------------------------------

// Grid variables 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);


// -------------------------------
// Typography
// -------------------------------

// Fonts
$font-family-sans-serif: Roboto, Arial, sans-serif;

// Headings
$headings-color: #212529;
$headings-font-weight: 600;

$hr-border-color: $yellow;
$hr-border-width: 4px;

// Links
$link-color: #006eb7;

// -------------------------------
// Options
// -------------------------------

$enable-rounded:  false;

// -------------------------------
// Forms and Buttons
// -------------------------------

$input-btn-padding-y: .5625rem;
$input-btn-padding-x: 1.5rem;

$input-btn-padding-y-lg: .75rem;
$input-btn-padding-x-lg: 4rem;

// -------------------------------
// Margins
// -------------------------------

$enable-negative-margins: true;

// -------------------------------
// Custom Styles
// -------------------------------


// A background that transitions from black to yellow to red to blue.
.bg-variegated {
  background: linear-gradient(90deg,var(--bs-dark) 25%,var(--bs-yellow) 25%,var(--bs-yellow) 50%,var(--bs-red) 50%,var(--bs-red) 75%,var(--bs-blue) 75%);
}

// -------------------------------
// Imports
// -------------------------------

// Bring in Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

// Import extensions
@import "variables";
@import "quicklinks";